extends ../layout.pug

block content
  main
    section
      div(class='popup popup--new-publication popup--anti')
        div(class='new-publication')
          form(action='#', method='POST')
            div(class='new-publication__header')
              h1 Новая публикация
              div(class='new-publication__date-form')
                h3 Дата публикации
                div(class='new-publication__date-form-division')
                  div(class='new-publication__date-block')
                    label(for='new-publication-date', aria-label='Календарь')
                    -
                      const currentDate = new Date();
                      const dateToStr = currentDate.toString();
                    input#new-publication-date(type='text', name='date', placeholder=getFormatedDate(dateToStr, `YYYY-MM-DD`))
              button(type='submit', class='new-publication__button button button--colored') Опубликовать
            a(class='popup__button button button--popup-close', aria-label='Закрыть окно')
              | Закрыть
              | окно
            div(class='new-publication__form form')
              div(class='form__wrapper form__wrapper--intro')
                div(class='form__field')
                  label
                    input(type='text', name='title', placeholder='Заголовок', value=article.title, required=true)
                div(class='form__field form__field--post-image')
                  label
                    input#image-name-field(type='text', name='photo', value='moya_mashinka.jpg', placeholder='Фотография', readonly=true)
                  div(class='form__image-loader form__image-loader--publication')
                    label
                      input(class='visually-hidden', type='file', name='upload')
                      | Обзор
                  button(class='button button--transparent') Удалить
                div(class='new-publication__category-wrapper')
                  each category, index in article.category
                    div(class='new-publication__checkbox new-publication__checkbox--auto')
                      //- Переименовать id ?????
                      input(id=`checkbox-auto${index + 1}` type='checkbox', name=`category-${index + 1}`)
                      label(for=`checkbox-auto${index + 1}`) #{category}
                  a(class='new-publication__form-link button button--transparent', href='#') Добавить категорию
              div(class='form__wrapper form__wrapper--text')
                div(class='form__field form__field--publication-text')
                  label
                    textarea(rows='5', name='announcement', placeholder='Анонс публикации') #{article.announce}
                div(class='form__field form__field--publication-text')
                  label
                    textarea(rows='10', name='full-text', placeholder='Полный текст публикации')
                      | #{article.fullText}
